body {
    background-color: aquamarine;
}
.ikbal {
    font-size: 24px;
    text-align: center;
}
.ini ul li{
    font-size: 18px;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.itu h1{
    font-size: 14px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aku h1{
    font-size: 12px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
   display: inline;
   
}
.kamu {
    font-size: 14px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
   display: inline;
   
}
.kamu h1 {
    font-size: 14px;
}
.bebek h1 {
    font-size: 14px;
}
.elang h1{
    font-size: 14px;
}
.harimau h1{
    font-size: 14px;
}
.ikan h1 {
    font-size: 14px; 
}
.lalat h1 {
    font-size: 14px;
}
.lalat h2 {
    font-size: 14px;
}
.macan h1 {
    font-size: 14px;
}
.naga h1 {
    font-size: 14px;
}
.oscar h1 {
    font-size: 14px;
}
.paus h1 {
    font-size: 14px;
}
.qory h1 {
    font-size: 14px;
}
.sapi h1 {
    font-size: 14px; 
}
.tupai h1 {
    font-size: 14px; 
}